<div class="flex gap-2 shadow-xl relative">
  <!-- <img class="ml-4" src="../../../assets/VW Virtus 2020.jpeg" /> -->
  <img
    class="w-full justify-center overflow-hidden shadow-xl"
    src="../../../assets/wepik-export-.jpeg"
  />
  <h1
    class="absolute bottom-0 left-0 right-0 text-center mb-32 text-white font-bold text-5xl"
  >
    Find Your Dream Car Today,
  </h1>
  <h2
    class="absolute bottom-0 left-0 right-0 text-center mb-12 text-white font-bold text-5xl"
  >
    Where Every Drive Is an Adventure Waiting to Happen
  </h2>
</div>
<div
  class="flex justify-center mt-5 text-center font-bold text-green-900 text-[30px] cursor-pointer"
>
  <h1>Check amazing offers</h1>
</div>
<div style="width: 50%; height: 50%" class="flex justify-center ml-[390px]">
  <ng-lottie
    [options]="options2"
    (animationCreated)="animationCreated($event)"
  ></ng-lottie>
</div>

<div class="border-2 rounded-lg flex-col">
  <h1 class="font-bold p-10 text-xl">Suv</h1>
  <div class="flex">
    <div class="flex w-full justify-center gap-8">
      <div
        class="flex-col rounded-2xl w-[300px] overflow-hidden shadow-xl mx-auto border-2 mb-8"
      >
        <img src="../../../assets/thar.jpg" />
        <div class="p-7 text-xl">
          <h1 class="text-gray-800 mb-5">Mahinda Thar</h1>
          <p class="font-extrabold text-gray-700 mb-5">
            Rs 11.25 - 17.60 lakh*
          </p>
          <button
            class="w-full rounded text-green-500 border-2 border-green-500 p-2"
          >
            Check Offers
          </button>
        </div>
      </div>
    </div>
    <div class="flex w-full justify-center gap-8">
      <div
        class="flex-col rounded-2xl w-[300px] overflow-hidden shadow-xl mx-auto border-2 mb-8"
      >
        <img src="../../../assets/scorpio.jpg" />
        <div class="p-7 text-xl">
          <h1 class="text-gray-800 mb-5">Mahindra Scorpio</h1>
          <p class="font-extrabold text-gray-700 mb-5">
            Rs 13.59 - 17.35 Lakh*
          </p>
          <button
            class="w-full rounded text-green-500 border-2 border-green-500 p-2"
          >
            Check Offers
          </button>
        </div>
      </div>
    </div>
    <div class="flex w-full justify-center gap-8">
      <div
        class="flex-col rounded-2xl w-[300px] overflow-hidden shadow-xl mx-auto border-2 mb-8"
      >
        <img src="../../../assets/creta.jpg" />
        <div class="p-7 text-xl">
          <h1 class="text-gray-800 mb-5">Hyundai Creta</h1>
          <p class="font-extrabold text-gray-700 mb-5">Rs 11 - 20.15 Lakh*</p>
          <button
            class="w-full rounded text-green-500 border-2 border-green-500 p-2"
          >
            Check Offers
          </button>
        </div>
      </div>
    </div>
    <div class="flex w-full justify-center gap-8">
      <div
        class="flex-col rounded-2xl w-[300px] overflow-hidden shadow-xl mx-auto border-2 mb-8"
      >
        <img src="../../../assets/naxon.jpg" />
        <div class="p-7 text-xl">
          <h1 class="text-gray-800 mb-5">Tata Nexon</h1>
          <p class="font-extrabold text-gray-700 mb-5">Rs 8.15 - 15.80 Lakh*</p>
          <button
            class="w-full rounded text-green-500 border-2 border-green-500 p-2"
          >
            Check Offers
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="border-2 rounded-lg flex-col">
  <h1 class="font-bold p-10 text-xl">Hatchback</h1>
  <div class="flex">
    <div class="flex w-full justify-center gap-8">
      <div
        class="flex-col rounded-2xl w-[300px] overflow-hidden shadow-xl mx-auto border-2 mb-8"
      >
        <img src="../../../assets/maruti.jpg" />
        <div class="p-7 text-xl">
          <h1 class="text-gray-800 mb-5">Maruti Swift</h1>
          <p class="font-extrabold text-gray-700 mb-5">Rs 5.99 - 9.03 lakh*</p>
          <button
            class="w-full rounded text-green-500 border-2 border-green-500 p-2"
          >
            Check Offers
          </button>
        </div>
      </div>
    </div>
    <div class="flex w-full justify-center gap-8">
      <div
        class="flex-col rounded-2xl w-[300px] overflow-hidden shadow-xl mx-auto border-2 mb-8"
      >
        <img src="../../../assets/i20.jpg" />
        <div class="p-7 text-xl">
          <h1 class="text-gray-800 mb-5">Hyundai i20</h1>
          <p class="font-extrabold text-gray-700 mb-5">Rs 7.07 - 11.21 lakh*</p>
          <button
            class="w-full rounded text-green-500 border-2 border-green-500 p-2"
          >
            Check Offers
          </button>
        </div>
      </div>
    </div>
    <div class="flex w-full justify-center gap-8">
      <div
        class="flex-col rounded-2xl w-[300px] overflow-hidden shadow-xl mx-auto border-2 mb-8"
      >
        <img src="../../../assets/tiago.jpg" />
        <div class="p-7 text-xl">
          <h1 class="text-gray-800 mb-5">Tata Tiago</h1>
          <p class="font-extrabold text-gray-700 mb-5">Rs 5.68 - 8.90 lakh*</p>
          <button
            class="w-full rounded text-green-500 border-2 border-green-500 p-2"
          >
            Check Offers
          </button>
        </div>
      </div>
    </div>
    <div class="flex w-full justify-center gap-8">
      <div
        class="flex-col rounded-2xl w-[300px] overflow-hidden shadow-xl mx-auto border-2 mb-8"
      >
        <img src="../../../assets/baleno.jpg" />
        <div class="p-7 text-xl">
          <h1 class="text-gray-800 mb-5">Maruti Baleno</h1>
          <p class="font-extrabold text-gray-700 mb-5">Rs 6.66 - 9.88 Lakh*</p>
          <button
            class="w-full rounded text-green-500 border-2 border-green-500 p-2"
          >
            Check Offers
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="border-2 rounded-lg flex-col">
  <h1 class="font-bold p-10 text-xl">Sedan</h1>
  <div class="flex">
    <div class="flex w-full justify-center gap-8">
      <div
        class="flex-col rounded-2xl w-[300px] overflow-hidden shadow-xl mx-auto border-2 mb-8"
      >
        <img src="../../../assets/verna.jpg" />
        <div class="p-7 text-xl">
          <h1 class="text-gray-800 mb-5">Hyundai Verna</h1>
          <p class="font-extrabold text-gray-700 mb-5">Rs 11 - 17.42 Lakh*</p>
          <button
            class="w-full rounded text-green-500 border-2 border-green-500 p-2"
          >
            Check Offers
          </button>
        </div>
      </div>
    </div>
    <div class="flex w-full justify-center gap-8">
      <div
        class="flex-col rounded-2xl w-[300px] overflow-hidden shadow-xl mx-auto border-2 mb-8"
      >
        <img src="../../../assets/aura.jpg" />
        <div class="p-7 text-xl">
          <h1 class="text-gray-800 mb-5">Hyundai Aura</h1>
          <p class="font-extrabold text-gray-700 mb-5">Rs 6.49 - 9.05 Lakh*</p>
          <button
            class="w-full rounded text-green-500 border-2 border-green-500 p-2"
          >
            Check Offers
          </button>
        </div>
      </div>
    </div>
    <div class="flex w-full justify-center gap-8">
      <div
        class="flex-col rounded-2xl w-[300px] overflow-hidden shadow-xl mx-auto border-2 mb-8"
      >
        <img src="../../../assets/vol.jpg" />
        <div class="p-7 text-xl">
          <h1 class="text-gray-800 mb-5">Volkswagen Virtus</h1>
          <p class="font-extrabold text-gray-700 mb-5">
            Rs 11.56 - 19.41 Lakh*
          </p>
          <button
            class="w-full rounded text-green-500 border-2 border-green-500 p-2"
          >
            Check Offers
          </button>
        </div>
      </div>
    </div>
    <div class="flex w-full justify-center gap-8">
      <div
        class="flex-col rounded-2xl w-[300px] overflow-hidden shadow-xl mx-auto border-2 mb-8"
      >
        <img src="../../../assets/city.jpg" />
        <div class="p-7 text-xl">
          <h1 class="text-gray-800 mb-5">Honda City</h1>
          <p class="font-extrabold text-gray-700 mb-5">
            Rs 11.71 - 16.19 Lakh*
          </p>
          <button
            class="w-full rounded text-green-500 border-2 border-green-500 p-2"
          >
            Check Offers
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="border-2 rounded-lg flex-col">
  <h1 class="font-bold p-10 text-xl">Luxury</h1>
  <div class="flex">
    <div class="flex w-full justify-center gap-8">
      <div
        class="flex-col rounded-2xl w-[300px] overflow-hidden shadow-xl mx-auto border-2 mb-8"
      >
        <img src="../../../assets/defender.jpg" />
        <div class="p-7 text-xl">
          <h1 class="text-gray-800 mb-5">Land Rover Defender</h1>
          <p class="font-extrabold text-gray-700 mb-5">Rs 97 Lakh - 2.35 Cr*</p>
          <button
            class="w-full rounded text-green-500 border-2 border-green-500 p-2"
          >
            Check Offers
          </button>
        </div>
      </div>
    </div>
    <div class="flex w-full justify-center gap-8">
      <div
        class="flex-col rounded-2xl w-[300px] overflow-hidden shadow-xl mx-auto border-2 mb-8"
      >
        <img src="../../../assets/marcedes.jpg" />
        <div class="p-7 text-xl">
          <h1 class="text-gray-800 mb-5">Mercedes-Benz GLA</h1>
          <p class="font-extrabold text-gray-700 mb-5">
            Rs 50.50 - 56.90 Lakh*
          </p>
          <button
            class="w-full rounded text-green-500 border-2 border-green-500 p-2"
          >
            Check Offers
          </button>
        </div>
      </div>
    </div>
    <div class="flex w-full justify-center gap-8">
      <div
        class="flex-col rounded-2xl w-[300px] overflow-hidden shadow-xl mx-auto border-2 mb-8"
      >
        <img src="../../../assets/bmw.jpg" />
        <div class="p-7 text-xl">
          <h1 class="text-gray-800 mb-5">BMW X7</h1>
          <p class="font-extrabold text-gray-700 mb-5">Rs 1.27 - 1.30 Cr*</p>
          <button
            class="w-full rounded text-green-500 border-2 border-green-500 p-2"
          >
            Check Offers
          </button>
        </div>
      </div>
    </div>
    <div class="flex w-full justify-center gap-8">
      <div
        class="flex-col rounded-2xl w-[300px] overflow-hidden shadow-xl mx-auto border-2 mb-8"
      >
        <img src="../../../assets/wrangler.jpg" />
        <div class="p-7 text-xl">
          <h1 class="text-gray-800 mb-5">Jeep Wrangler</h1>
          <p class="font-extrabold text-gray-700 mb-5">
            Rs 62.65 - 66.65 Lakh*
          </p>
          <button
            class="w-full rounded text-green-500 border-2 border-green-500 p-2"
          >
            Check Offers
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
