<nav
  class="w-full flex justify-between items-center p-5 bg-indigo-50 shadow-lg"
>
  <a [routerLink]="'/'">
    <div class="logo">
      <span
        class="text-grey-200 text-2xl font-bold flex justify-start items-center"
        >Car<span class="text-blue-950">.DoneDeal</span></span
      >
    </div>
  </a>

  <!-- New div for columns -->
  <div
    class="columns flex-grow font-bold flex justify-around mt-3 mx-5 text-sm font-sans"
  >
    <!-- First column -->
    <div class="column">
      <ul class="mt-2">
        <li>Cars for sale</li>
        <li>Used cars for sale</li>
        <li>Vans for sale</li>
        <li>About Us</li>
      </ul>
    </div>

    <!-- Second column -->
    <div class="column">
      <ul class="mt-2">
        <li>Car reviews</li>
        <li>Car finance deals</li>
        <li>Car advice</li>
        <li>Best car guides</li>
      </ul>
    </div>

    <!-- Third column -->
    <div class="column">
      <ul class="mt-2">
        <li>Dealer sales</li>
        <li>Privacy settings</li>
        <li>Privacy Policy</li>
        <li>Cookie Policy</li>
      </ul>
    </div>
  </div>

  <div class="nav-items">
    <a
      ><span
        class="text-xl cursor-pointer text-grey-200 font-bold m-3 hover: underline hover:text-gray-600"
        ><i class="fa-brands fa-facebook"></i></span
    ></a>
    <a
      ><span
        class="text-xl cursor-pointer text-grey-200 font-bold m-3 hover: underline hover:text-gray-600"
        ><i class="fa-brands fa-square-x-twitter"></i></span
    ></a>

    <a
      ><span
        class="text-xl cursor-pointer text-grey-200 font-bold m-3 hover: underline hover:text-gray-600"
        ><i class="fa-brands fa-linkedin"></i></span
    ></a>
    <a
      ><span
        class="text-xl cursor-pointer text-grey-200 font-bold m-3 hover: underline hover:text-gray-600"
        ><i class="fa-brands fa-square-instagram"></i></span
    ></a>

    <a
      ><span
        class="text-xl cursor-pointer text-grey-200 font-bold m-3 hover: underline hover:text-gray-600"
        ><i class="fa-solid fa-envelope"></i></span
    ></a>
    <span
      class="text-xl cursor-pointer text-grey-200 font-bold m-3 hover: underline hover:text-gray-600"
      ><i class="fa-brands fa-square-whatsapp"></i
    ></span>
  </div>
</nav>
